# silly os x
.DS_store

# npm package folder
node_modules/

# gedit files
*~

# webpack build-folder
dist/

# npm debug log
npm-debug.log

# coverage report folder created by Istanbul
coverage/

# instrument report folder created also by Istanbul
instrument/

# environment variable file
.env
