.main-container {
  margin: 65px 0 0 15px;
}

.m-top {
  margin-top: 15px;
}

.leaflet-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  min-height: 400px;
  width: 100%;
}

.dna-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.dna-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#mapgl {
  height: 600px;
  width: 800px;
}

svg {
  float: left;
  border: 1px solid black;
  shape-rendering: auto;
}

g {
  stroke-width: 0.5px;
}

path {
  stroke: #555;
  fill: #ccf;
}

path:hover {
  fill: #faa;
     }

path.active {
  fill: red;
}
